<!DOCTYPE html>
<html lang="en" ng-app="tagModule">

<head>
  <meta charset="UTF-8">
  <title>Squid - Tags</title>

  <link rel="stylesheet" type="text/css" href="../lib/css/animate.min.css">
  <link rel="stylesheet" type="text/css" href="../lib/css/delay.css">
  <link rel="stylesheet" type="text/css" href="../lib/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../css/tag.css">

</head>

<body class="container-fluid">

  <header class="row">
    <div class="logo col-sm-12 animated fadeInLeft delay-100">
      <h1><strong>Insta</strong><span>Tag Locator</span></h1>
    </div>
  </header>
 
  <script src="../lib/js/angular.min.js"></script>
  <script src="../lib/js/jquery.min.js"></script>
  <script src="../lib/js/bootstrap.min.js"></script>
  <script async src="../lib/js/moment.min.js"></script>
  <script src="../js/main.js"></script>
  <script src="../js/controllers/tag-controller.js"></script>

</body>

</html>