html {
  @include reset;
  overflow: hidden;
}

body {
  background-color: $bg-color;
  height: 100vh;
}

header {

    h1 {
      font-size: 24px;
    }

  .logo {
    transition: color 500ms ease-in-out;
    @include align(left);
    @include font-light;
    color: $text-color;
    a {
      margin-right: 15px;
      font-size: 24px;
      transition: color 500ms ease-in-out;
      text-decoration: none;
      color: $text-color;
      &:hover {
        color: darken($text-color, 20%);
      }
    }
  }

  .logout {
    @extend .logo;
    @include align(right);
    a {
      margin-right: 15px;
      font-size: 20px;
      transition: color 500ms ease-in-out;
      text-decoration: none;
      color: lighten($text-color, 30%);
      &:hover {
        color: darken($text-color, 40%);
      }
    }
  }
  border-bottom: 1px solid $border-color;
}

main {
  @include font-common;
  height: 100%;
  .wrapper {
    height: 100%;
  }
  .tag-list {
    @include font-mono;
    @include align(left);
    border-right: 1px solid darken($border-color,10%);
    height: 94%;
    padding: 15px 10px 10px 45px;
  }

  .img-list {
    @include align(center);
    height: 94%;
    box-shadow:inset 0 0 10px 1px lighten($border-color, 10%); 
    padding: 10px;
  }
}