html {
  @include reset;
}

body {
  background-color: $bg-color;
}

header {

    h1 {
      font-size: 24px;
    }

  .logo {
    transition: color 500ms ease-in-out;
    @include align(left);
    @include font-light;
    color: $text-color;
    a {
      margin-right: 15px;
      font-size: 24px;
      transition: color 500ms ease-in-out;
      text-decoration: none;
      color: $text-color;
      &:hover {
        color: darken($text-color, 20%);
      }
    }
  }

  .logout {
    @extend .logo;
    @include align(right);
    a {
      margin-right: 15px;
      font-size: 20px;
      transition: color 500ms ease-in-out;
      text-decoration: none;
      color: lighten($text-color, 30%);
      &:hover {
        color: darken($text-color, 40%);
      }
    }
  }
  border-bottom: 1px dashed rgba(100,100,100,0.3);
}

main {
  .tag-list {
    @include align(left);
  }

  .img-list {
    @include align(center);
  }
}